{% extends 'subLayout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <center>Input Pengajuan Kegiatan</center>
                        </h2>
                    </div>
                    <div class="body">
                    <form method="post" enctype="multipart/form-data">
                    
                            <div class="form-group">
                                <p>Kategori Event</p>
                                <select name="event_category" id="" class="form-control">
                                    <option value="">-- Pilih Event Category</option>
                                    <option value="1">Workshop Teknis</option>
                                    <option value="2">Workshop Desain</option>
                                    <option value="3">Workshop Manajemen</option>
                                    <option value="4">Business Gathering</option>
                                    <option value="5">Kompetisi Lokal</option>
                                    <option value="6">Dilo on Campus</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <p>Nama Event</p>
                                <div class="form-line">
                                    <input type="text" name="event_name" id="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Tanggal Event</p>
                                <div class="form-line">
                                    <input type="text" name="event_date" id="" class="datepicker form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Topik Event</p>
                                <div class="form-line">
                                    <input type="text" name="event_topic" id="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Nama Narasumber</p>
                                <div class="form-line">
                                    <input type="text" name="event_mentor" id="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Pekerjaan Narasumber</p>
                                <div class="form-line">
                                    <input type="text" name="mentor_job" id="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Waktu Event</p>
                                <div class="form-line">
                                    <input type="text" name="event_time" id="timepicker" class="form-control" value="{% if event is defined %}{{ event.eventTime|date('H:i') }}{% endif %}">
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Target Peserta</p>
                                <div class="form-line">
                                    <input type="text" name="event_participant" id="" class="form-control">
                                </div>
                            </div>
                            <!--div class="form-group">
                                <p>Keterangan Event</p>
                                <div class="form-line">
                                    <input type="text" name="event_detail" id="" class="form-control">
                                </div>
                            </div-->

                            <button class="btn btn-primary waves-effect">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block customJS %}
    <script>
        $('.datepicker').bootstrapMaterialDatePicker({
            time: false
        });

        $('#timepicker').bootstrapMaterialDatePicker({
            format: 'HH:mm',
            clearButton: true,
            date: false
        });
    </script>
{% endblock %}