{% extends 'layout.html.twig' %}

{% block innerLayout %}
<div class="signup-page">
<div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);">Manajemen<b>DILo</b></a>
            <small>Aplikasi Manajemen Terpadu</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" method="POST">
                    <div class="msg">Register a new membership</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Name Surname" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                        <select name="job_desk" placeholder="Isi Job Desk" id="" class="form-control">
                                    <option value="">-- Pilih Event Category</option>
                                    <option value="1">Manager</option>
                                    <option value="2">Operasional</option>
                                    <option value="3">Public Relations</option>
                                    <option value="4">Admin</option>
                                    <option value="5">Customer Service</option>

                                </select>

                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" minlength="6" placeholder="Password" required>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">SIGN UP</button>

                    <div class="m-t-25 m-b--5 align-center">
                        <a href="sign-in.html">You already have a membership?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}